@model DevFestEvent.Models.Session

@{
    ViewBag.Title = "Edit";
}
@section Scripts{
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.Title</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.IID)


        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { style = "width: 100%;" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new {rows="6", style="width: 100%" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Room, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Room)
                @Html.ValidationMessageFor(model => model.Room)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartHour, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartHour)
                @Html.ValidationMessageFor(model => model.StartHour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartAMPM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartAMPM)
                @Html.ValidationMessageFor(model => model.StartAMPM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LengthMin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LengthMin)
                @Html.ValidationMessageFor(model => model.LengthMin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpeakerDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpeakerDescription)
                @Html.ValidationMessageFor(model => model.SpeakerDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CSSClass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CSSClass)
                @Html.ValidationMessageFor(model => model.CSSClass)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back (no save)", "Index","Home")
</div>
